@import "tailwindcss";

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}

@theme {
  --color-accent: #22b7e2;
  --color-primary: #2563eb;

  --color-accent-hover: hsl(21 100 60);
  --color-dark: hsl(0 0 23);
  --color-dark-hover: hsl(0 0 10);
  --color-white-shadow: hsl(0 0 97);

  --color-dark-gray: #99a1af;
  --color-gray: #ced4da;
  --color-medium-gray: #f9fafb;
  --color-light-gray: #e5e7eb;

  --color-red: #dc2626;
  --color-light-red: #fef2f2;

  --color-yellow: #ff6900;
  --color-light-yellow: #fef9c2;

  --color-green: #008236;
  --color-light-green: #dcfce7;

  --color-blue: #2563eb;
  --color-light-blue: #dbeafe;

  --color-purple: #7f22fe;
  --color-light-purple: #f5f3ff;
}

@layer base {
  h1 {
    @apply md:text-5xl text-4xl font-bold text-dark leading-tight whitespace-nowrap;
  }

  h2 {
    @apply md:text-4xl text-3xl font-bold text-dark leading-snug;
  }

  h3 {
    @apply md:text-3xl text-2xl font-bold text-dark leading-normal;
  }

  h4 {
    @apply md:text-2xl text-xl font-bold text-dark leading-relaxed;
  }

  h5 {
    @apply md:text-xl text-lg font-bold text-dark leading-relaxed;
  }

  h6 {
    @apply md:text-lg text-base font-bold text-dark leading-relaxed;
  }

  p {
    @apply md:text-base text-sm text-gray-500;
  }

  a {
    @apply text-accent font-medium transition-colors duration-200 hover:text-accent-hover;
  }
}
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
